<h1>Добро пожаловать.</h1>
<p>
  Это тестовое задание, выполненное 
  <a href="mailto:s.a.pisarev@gmail.com">мной</a> 
  для <a href="http://level.travel">Level-Travel</a>.
</p>
<p>
  Разработка велась BDD-методикой, <br/>
  Travic-CI: 
  <a href="https://travis-ci.org/cema-sp/level-travel_test">
    <img src="https://travis-ci.org/cema-sp/level-travel_test.svg?branch=master">
  </a>
  <br/>
  Coveralls:
  <a href='https://coveralls.io/r/cema-sp/level-travel_test?branch=master'>
    <img src='https://coveralls.io/repos/cema-sp/level-travel_test/badge.png?branch=master' alt='Coverage Status' />
  </a>
  <br/>
  Репозиторий на GitHub: 
  <a href="https://github.com/cema-sp/level-travel_test">
    cema-sp/level-travel_test
  </a>
  .
</p>

<p>
  В проекте использовались:
  <ul>
    <li>Ruby on Rails</li>
    <li>RSpec</li>
    <li>Cucumber</li>
    <li>Webmocks</li>
    <li>Typhoeus</li>
    <li>Sidekiq</li>
    <li>GitHub</li>
    <li>Heroku</li>
  </ul>
</p>

<p>
  <strong>
    <%= link_to "Первое задание", first_path %>
  </strong>: 
  Таблица туров по дням в виде календаря. 
  В таблицу выводится 31 день с текущего дня.
  Цвет ячейки таблицы меняется в зависимости от количества 
  туров относительно максимальному количеству. 
</p>

<p>
  <strong>
    <%= link_to "Второе задание", second_path %>
  </strong>:
  Отправка пользователю email-сообщения, 
  содержащего список стран, в которые возможно поехать 
  в указанное число на указанное количество дней.
</p>
