<h1>Ваш запрос отправлен</h1>

<h3>
  Скоро вы получите email-сообщение, содержащее список стран, 
  в которые можно поехать <%= @date %> 
  на <%= @nights %> ночей. Все, что для этого нужно:  
  проверить электронный ящик <%= @email %> через несколько минут*.
</h3>

<p class="ui small info message">
  * Время доставки сообщения зависит от времени проверки на принимающей стороне.
</p>
